/* TODO eliminar al subir a Pre */
body {
   font-family: HelveticaNeue, Helvetica, sans-serif;
}
#calculadoraForm {
   margin: 0 auto;
   width: 950px;
}
#calculadoraForm h2 {
   color: #ff7900;
   font-weight: normal;
   font-size: 27px;
   line-height: 125%;
   margin: 1em 0 10px 0;
   width: 100%;
}
#calculadoraForm h3 {
   margin: 2em 0;
}
#calculadoraForm h4 {
   margin: 0 0 2em;
   width: 100%;
}
/* TODO fin eliminar al subir a Pre */
#calculadoraForm .ui-widget,
#calculadoraForm .ui-button,
#calculadoraForm .datepickerInp {
   background: #F3F3F3;
}
#calculadoraForm .ui-button {
   margin-right: 0;
}
#calculadoraForm .datepickerInp {
   border: 1px solid #C5C5C5;
   border-radius: 3px;
   box-sizing: border-box;
   height: 32px;
   padding: .4em 1em;
   width: 16.15em;;
}
#calculadoraForm .ui-spinner-input {
   margin: 0;
   padding: .25em .7em;
}
#calculadoraForm .ui-spinner {
   width: 16em;
}
#calculadoraForm #select,
#calculadoraForm .hidden {
   display: none;
}
#calculadoraForm .ui-button:focus,
#calculadoraForm input:focus,
#calculadoraForm select:focus {
   outline: none;
}
#calculadoraForm .ui-button:active {
   border: 1px solid #CCC;
   color: #454545;
}
#calculadoraForm .ui-state-active .ui-icon, #calculadoraForm .ui-button:active .ui-icon {
   background-image: url(images/ui-icons_444444_256x240.png);
}
#calculadoraForm .calcContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
#calculadoraForm hr {
   margin: 2em 0;
}
#calculadoraForm .calcContainer .station {
   box-sizing: border-box;
   border-bottom: 1px solid #ddd;
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   padding: 2em 0;
   width: 100%;
}
#calculadoraForm .calcContainer .station:first-child {
   padding-top: 0;
}
#calculadoraForm .calcContainer .station:last-child {
   border-bottom: none;
}
#calculadoraForm .calcContainer .station>div {
   display: flex;
   justify-content: space-between;
   margin-bottom: 1em;
}
#calculadoraForm .calcContainer .station .posNum,
#calculadoraForm .calcContainer .station .posType {
   margin-left: 2%;
}
#calculadoraForm .calcContainer .station .posNum span {
   width: 4em;
}
#calculadoraForm .calcContainer .station .posType select,
#calculadoraForm .calcContainer .station .fee span {
   width: 6em;
}
#calculadoraForm .calcContainer .station .fee,
#calculadoraForm .calcContainer .station .activationDate,
#calculadoraForm .calcContainer .station .endDate {
   margin-right: 1em;
}
#calculadoraForm .calcContainer .station .activationDate input,
#calculadoraForm .calcContainer .station .endDate input,
#calculadoraForm .calcContainer .station .unsubscribeDate input {
   width: 8.6em;
}
/* #calculadoraForm .calcContainer .station>div.hidden {
   display: none;
} */
#calculadoraForm .centeredButton {
   display: flex;
   justify-content: center;
   margin: 1em 0;
}
#calculadoraForm .centeredButton button {
   box-sizing: border-box;
   padding: .5em 1em;
}
#calculadoraForm .textInput.ui-button {
   cursor: default;
}
#calculadoraForm .clientName {
   align-items: center;
   display: flex;
   justify-content: space-between;
   margin-bottom: 1em;
   width: 48%;
}
#calculadoraForm .ui-selectmenu-button.ui-button {
   padding: .25em .25em .25em .75em;
   width: 17em;
}
#calculadoraForm .posType .ui-selectmenu-button.ui-button {
   width: 12em;
}
#calculadoraForm #copyData,
#calculadoraForm #addStation {
   background: white;
   border: 1px solid gray;
   float: right;
   margin-bottom: 3em;
   padding: .5em 1em;
}
#calculadoraForm #copyData:hover,
#calculadoraForm #addStation:hover {
   background: #EFEFEF;
   cursor: pointer;
   transition: .5s background;
}
#calculadoraForm label {
   color: #5C5C5C;
   font-size: .875rem;
   font-weight: bold;
   margin-right: 1em;
}
#calculadoraForm input {
   font-size: 1em;
}
#calculadoraForm input:disabled {
   color: gray;
}
#calculadoraForm table {
   border: 1px solid #5C5C5C;
   border-collapse: collapse;
   margin-bottom: 1em;
   width: 100%;
}
#calculadoraForm table td,
#calculadoraForm table th {
   border: 1px solid #5C5C5C;
   padding: .5em;
   text-align: left;
}
#calculadoraForm table td {
   text-align: center;
}
#calculadoraForm table td:first-child {
   text-align: left;
}
#calculadoraForm table td:last-child {
   text-align: right;
}
#calculadoraForm .total {
   padding: 0 .5625rem 1rem;
   text-align: right;
}
#calculadoraForm .warning {
   color: red;
   font-size: .75rem;
}